

body {
  padding-top: 54px;
}
a {
  color: #e61e2b;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #1156a3;
  text-decoration: underline;
}
.red{
	color:#fff; background-color:#e61e2b; border-radius:8px; padding:10px; margin:20px; font-size:36px; text-transform:uppercase}
.black{
	color:#000; background-color:#fff; ; padding:15px; margin:20px; font-size:16px; border: 10px solid #000;}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}