/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/web/20220123180802im_/http://supremeweeds.ca/static/fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/web/20220123180802im_/http://supremeweeds.ca/static/fonts/open-sans-v17-latin-regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/web/20220123180802im_/http://supremeweeds.ca/static/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/web/20220123180802im_/http://supremeweeds.ca/static/fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/web/20220123180802im_/http://supremeweeds.ca/static/fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/web/20220123180802im_/http://supremeweeds.ca/static/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*
     FILE ARCHIVED ON 18:08:02 Jan 23, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:16:15 Dec 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.544
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 13.171
  LoadShardBlock: 231.541 (3)
  PetaboxLoader3.datanode: 160.078 (4)
  PetaboxLoader3.resolve: 115.563 (2)
  load_resource: 89.222
*/